# Cache
__pycache__/

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# MyPy
.mypy_cache

# Raw data
data/raw/*.sdf.gz

# local editable install
*.egg-info

# Pytest cache
.pytest_cache

# logs
*.log